:root {
    --primaryColor: #3fd0d4;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.25rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}